<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="card" style="width: 500px">
    <div class="card-body">
      <h5 class="card-title text-center">Attendance System</h5>
      <form #loginForm="ngForm">
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input
            name="email"
            ngModel
            #email="ngModel"
            type="email"
            class="form-control"
            placeholder="name@example.com"
            required
          />
          <span class="text-danger" *ngIf="email.touched && email.invalid"
            >Please Enter E-Mail</span
          >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password*</label>
          <input
            name="password"
            ngModel
            #pwd="ngModel"
            type="password"
            class="form-control"
            placeholder="**********"
            required
          />
          <span class="text-danger" *ngIf="pwd.touched && pwd.invalid"
            >Enter your password</span
          >
        </div>
        <div class="text-center">
          <button
            type="button"
            [disabled]="loginForm.invalid"
            (click)="submit(loginForm)"
            class="btn btn-primary"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
